@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.paginateContainer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-family: "Source Sans Pro", sans-serif;
}

.paginate__ul {
    display: flex;
    background: #d64c3f;
    border-radius: 15px;
    padding: 0 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.paginate__li {
    color: white;
    font-size: 2rem;
    list-style: none;
    margin: 0 0.1rem;
}

.paginate__li :hover {
    background: black;
    border-radius: 10px;
}